<div class="modal-header">
    <h5 class="modal-title text-center" id="infoModalLabel">Gráficos</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    <div *ngIf="isLoadingGraphics()" class="container mt-2">
        Cargando información...
    </div>
    <div class="row">
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Viajes por día</div>
            <div class="ct-chart ct-golden-section" id="journeysPerDayChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Precio medio de km por día</div>
            <div class="ct-chart ct-golden-section" id="pricePerKmPerDayChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Ofertantes nuevos por día</div>
            <div class="ct-chart ct-golden-section" id="newOffersPerDayChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Ofertantes nuevos por provincia</div>
            <div class="ct-chart ct-golden-section" id="newOffersPerProvinceChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Viajes por origen (mayor)</div>
            <div class="ct-chart ct-golden-section" id="journeysPerOriginChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Viajes por destino (mayor)</div>
            <div class="ct-chart ct-golden-section" id="journeysPerDestinationChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Viajes por origen (menor)</div>
            <div class="ct-chart ct-golden-section" id="journeysPerOriginChartRev"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Viajes por destino (menor)</div>
            <div class="ct-chart ct-golden-section" id="journeysPerDestinationChartRev"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Precio medio por origen (mayor)</div>
            <div class="ct-chart ct-golden-section" id="pricePerOriginChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Precio medio por destino (mayor)</div>
            <div class="ct-chart ct-golden-section" id="pricePerDestinationChart"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Precio medio por origen (menor)</div>
            <div class="ct-chart ct-golden-section" id="pricePerOriginChartRev"></div>
        </div>
        <div class="container mt-1 col-12 col-xl-6">
            <div class="h4 text-center">Precio medio por destino (menor)</div>
            <div class="ct-chart ct-golden-section" id="pricePerDestinationChartRev"></div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-around align-items-center row">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cerrar</button>
    </div>
</div>