<div class="row">
    <div class="col-md-2 col-1"></div>
    <div class="col-md-8 col-10">
        <div class="row">
            <div class="col-12">
                <div class="m-4 p-4 jumbotron jumbotron-fluid">
                    <h1 class="h4">Alejandro Martín Simón Sánchez</h1>
                    <hr class="m-4">
                    <p>Estudiante del MUii en la UCLM</p>
                    <p>Más información en <a href="https://www.linkedin.com/in/alejandrosimonsanchez/">LinkedIn <i class="fa fa-linkedin"></i></a></p>
                </div>
            </div>
            <div class="col-12">
                <div class="m-4 p-4 jumbotron jumbotron-fluid">
                    <h1 class="h4">Antonio Morán Muñoz</h1>
                    <hr class="m-4">
                    <p>Estudiante del MUii en la UCLM</p>
                </div>
            </div>
            <div class="col-12">
                <div class="m-4 p-4 jumbotron jumbotron-fluid">
                    <h1 class="h4">Gabriel Gómez López</h1>
                    <hr class="m-4">
                    <p>Estudiante del MUii en la UCLM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-1"></div>
</div>