<div class="row">
    <div class="col-2"></div>
    <div class="col-8 mt-4">
        <div class="h3 my-3">Recursos utilizados</div>
        <h4>Frameworks y herramientas</h4>
        <ul>
            <li><a href="https://angular.io">Angular</a></li>
            <li><a href="https://nodejs.org/en/">Node.js</a></li>
            <li><a href="https://www.mongodb.com">MongoDB</a></li>
            <li><a href="https://expressjs.com">Express</a></li>
        </ul>
        <h4>Librerías</h4>
        <ul>
            <li>
                <a href="https://openlayers.org">OpenLayers</a>
            </li>
            <li>
                <a href="https://github.com/Viglino/ol-ext">OpenLayers ol-ext</a>
            </li>
            <li>
                <a href="https://github.com/walkermatt/ol-layerswitcher-examples">ol-LayerSwitcher</a>
            </li>
            <li>
                <a href="https://gionkunz.github.io/chartist-js/">Chartist-js</a>
            </li>
            <li>
                <a href="https://gmousse.gitbooks.io/dataframe-js/#dataframe-js">dataframe-js</a>
            </li>
            <li>
                <a href="https://turfjs.org/docs/">Turf-js</a>
            </li>
        </ul>
        <h4>Datos complementarios - APIs utilizadas</h4>
        <ul>
            <li>
                <a href="https://developer.mapquest.com/documentation/open/nominatim-search/">MapQuest. Open Search (Nominatim) Geocoding API</a>
            </li>
            <li>
                <a href="https://nominatim.org/release-docs/develop/api/Search/">Nominatim. Geocoding API</a>
            </li>
        </ul>
        <h4>Datos complementarios - Capas</h4>
        <ul>
            <li>
                <a href="https://sedac.ciesin.columbia.edu/data/collection/gpw-v4/maps/gallery/search">Densidad de población. Socioeconomic Data and Applications Center</a>
            </li>
        </ul>
    </div>
    <div class="col-2"></div>
</div>