/* ---------------------------------------------------
    bottomBar STYLE
----------------------------------------------------- */

#bottombar {
    min-height: 200px;
    max-height: 200px;
    transition: all 0.3s;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
}