/* ---------------------------------------------------
    bottomBar STYLE
----------------------------------------------------- */

#bottombar {
    min-height: 200px;
    max-height: 200px;
    transition: all 0.3s;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
}

.opacity-0 {
    opacity: 0!important;
}

.opacity-1 {
    opacity: 0.2!important;
}

.opacity-2 {
    opacity: 0.4!important;
}

.opacity-3 {
    opacity: 0.6!important;
}

.opacity-4 {
    opacity: .8!important;
}

.opacity-5 {
    opacity: 1!important;
}