<div id="bottombar" class="row bg-dark py-2 px-4 active">
    <div *ngIf="this.comm.loadFinished()" class="col-12 border-dark bg-light d-flex">
        <div class="card flex-fill">
            <div class="card-header">Fecha</div>
            <div class="card-body flex-column">
                <p class="card-text">Desde {{dateFrom}}</p>
            </div>
            <div class="card-body flex-column">
                <p class="card-text">Hasta {{dateTo}}</p>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-header">Viajes realizados</div>
            <div class="card-body">
                <p class="card-text">{{this.comm.getTotalJourneys()}}</p>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-header">Media por día</div>
            <div class="card-body">
                <p class="card-text">{{this.comm.getTotalJourneysPerDay()}}</p>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-header">Días</div>
            <div class="card-body">
                <p class="card-text">{{this.comm.getTotalDays()}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="!this.comm.loadFinished()" class="col-12 border-dark bg-light">
        <div class="card">
            <div class="card-header">Cargando datos...</div>
            <div class="card-body">
                <p class="card-text">Espere unos segundos... <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></p>
            </div>
        </div>
    </div>

</div>