<h3 class="text-white text-center my-4"> Selección de datos </h3>

<form #filtersForm="ngForm" class="container align-items-center" (ngSubmit)="applyFilters()">
    <div class="d-flex flex-column align-items-end">
        <button class="btn btn-outline-light m-2 align-items-end" type="submit" (click)="restoreGraphicsModal()"><i class="fa fa-check fa-fw"></i> Aplicar</button>
    </div>

    <div class="form-group my-2">
        <label class="text-white" for="query-from">Desde:</label>
        <input #dateFrom name="query-from" [ngModel]="comm.filterOptions.dateFrom" (ngModelChange)="comm.filterOptions.dateFrom=dateFrom.value" class="form-control" type="date" id="query-from" min="2017-11-01" max="2019-10-31">
    </div>
    <div class="form-group my-2">
        <label class="text-white" for="query-to">Meses:</label>
        <select #monthsNum name="query-to" [ngModel]="comm.filterOptions.monthsNum" (ngModelChange)="comm.filterOptions.monthsNum=monthsNum.value" class="custom-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="form-group my-2">
        <label class="text-white" for="country-origin">País origen:</label>
        <select #countryFrom name="country-origin" [ngModel]="comm.filterOptions.countryFrom" (ngModelChange)="comm.filterOptions.countryFrom=countryFrom.value" class="custom-select">
            <option value=""></option>
            <option value="ES">España</option>
            <option value="PT">Portugal</option>
        </select>
    </div>
    <div class="form-group my-2">
        <label class="text-white" for="country-destination">País destino:</label>
        <select #countryTo name="country-destination" [ngModel]="comm.filterOptions.countryTo" (ngModelChange)="comm.filterOptions.countryTo=countryTo.value" class="custom-select">
            <option value=""></option>
            <option value="ES">España</option>
            <option value="PT">Portugal</option>
        </select>
    </div>
    <div class="form-group my-2">
        <label class="text-white" for="province-origin">Provincia origen:</label>
        <select #provinceFrom name="province-origin" [ngModel]="comm.filterOptions.provinceFrom" (ngModelChange)="comm.filterOptions.provinceFrom=provinceFrom.value" class="custom-select">
            <option value=""></option>
            <option *ngFor="let prov of getProvsOrigin()" value="{{prov}}">{{prov}}</option>
        </select>
    </div>
    <div class="form-group my-2">
        <label class="text-white" for="province-destination">Provincia destino:</label>
        <select #provinceTo name="province-destination" [ngModel]="comm.filterOptions.provinceTo" (ngModelChange)="comm.filterOptions.provinceTo=provinceTo.value" class="custom-select">
            <option value=""></option>
            <option *ngFor="let prov of getProvsDestination()" value="{{prov}}">{{prov}}</option>
        </select>
    </div>
    <div class="form-group my-2">
        <label class="text-white" for="minimum-occupancy">Ocupación mínima (%)</label>
        <input #minOccR name="minimum-occupancy" [ngModel]="comm.filterOptions.minOccR * 100" (ngModelChange)="comm.filterOptions.minOccR=minOccR.value/100" class="form-control" type="number" min="0" max="100" step="10">
        <label class="text-white" for="maximum-occupancy">Ocupación máxima (%)</label>
        <input #maxOccR name="maximum-occupancy" [ngModel]="comm.filterOptions.maxOccR * 100" (ngModelChange)="comm.filterOptions.provinceTo=maxOccR.value/100" class="form-control" type="number" min="0" max="100" step="10">
    </div>

</form>