<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-12 my-5">
            <div class="col-12 h2 text-center mt-3">RETO CAJAMAR CARPOOLING VISUALIZATION</div>
            <div class="col-12 h4 text-center">Equipo Gantal</div>
        </div>
        <div class="col-6">
            <div class="row my-2">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-header">Alejandro Martín Simón Sánchez</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="profile-photo" style="background-image:url('../../../assets/img/profile/alex.jpg'); width:100px; height:100px; background-position:center; background-size: 100px;">&nbsp;</div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="p">
                                        Estudiante del MUii en la UCLM
                                    </div>
                                    <div class="p">
                                        <a href="https://www.linkedin.com/in/alejandrosimonsanchez/">LinkedIn <i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">Antonio Morán Muñoz</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="profile-photo" style="background-image:url('../../../assets/img/profile/antonio.jpg'); width:100px; height:100px; background-position:center; background-size: 100px;">&nbsp;</div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="p">
                                        Estudiante del MUii en la UCLM
                                    </div>
                                    <div class="p">
                                        <a href="https://www.linkedin.com/in/antonio-morán-muñoz-64a8321a5/">LinkedIn <i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Gabriel Gómez López</div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="profile-photo" style="background-image:url('../../../assets/img/profile/gabriel.jpg'); width:100px; height:100px; background-position:center; background-size: 100px;">&nbsp;</div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="p">
                                        Estudiante del grado de ingeniería informática en la UCLM
                                    </div>
                                    <div class="p">
                                        <a href="https://www.linkedin.com/in/gabrielgl8/">LinkedIn <i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row container">
                <div class="col-12">
                    <div class="h3">Recursos utilizados</div>
                    <h4>Frameworks y herramientas</h4>
                    <ul>
                        <li><a href="https://angular.io">Angular</a></li>
                        <li><a href="https://nodejs.org/en/">Node.js</a></li>
                        <li><a href="https://qgis.org/es/site/">QGIS</a></li>
                        <li><a href="https://www.mongodb.com">MongoDB</a></li>
                        <li><a href="https://expressjs.com">Express</a></li>
                        <li><a href="https://www.heroku.com">Heroku</a></li>
                    </ul>
                    <h4>Librerías</h4>
                    <ul>
                        <li>
                            <a href="https://openlayers.org">OpenLayers</a>
                        </li>
                        <li>
                            <a href="https://github.com/Viglino/ol-ext">OpenLayers ol-ext</a>
                        </li>
                        <li>
                            <a href="https://github.com/walkermatt/ol-layerswitcher-examples">ol-LayerSwitcher</a>
                        </li>
                        <li>
                            <a href="https://gionkunz.github.io/chartist-js/">Chartist-js</a>
                        </li>
                        <li>
                            <a href="https://gmousse.gitbooks.io/dataframe-js/#dataframe-js">dataframe-js</a>
                        </li>
                        <li>
                            <a href="https://turfjs.org/docs/">Turf-js</a>
                        </li>
                    </ul>
                    <h4>Datos complementarios - APIs utilizadas</h4>
                    <ul>
                        <li>
                            <a href="https://developer.mapquest.com/documentation/open/nominatim-search/">MapQuest. Open Search (Nominatim) Geocoding API</a>
                        </li>
                        <li>
                            <a href="https://nominatim.org/release-docs/develop/api/Search/">Nominatim. Geocoding API</a>
                        </li>
                    </ul>
                    <h4>Datos complementarios - Capas</h4>
                    <ul>
                        <li>
                            <a href="https://sedac.ciesin.columbia.edu/data/collection/gpw-v4/maps/gallery/search">SEDAC. Densidad de población. Socioeconomic Data and Applications Center</a>
                        </li>
                        <li>
                            <a href="https://www.openstreetmap.org">Capa base de OpenStreetMap</a>
                        </li>
                        <li>
                            <a href="https://www.esri.com/es-es/arcgis/about-arcgis/overview">Capa base de ESRI. Satélite.</a>
                        </li>
                        <li>
                            <a href="http://centrodedescargas.cnig.es/CentroDescargas/catalogo.do?Serie=CAANE">IGN. Límites municipales y provinciales</a>
                        </li>
                        <li>
                            <a href="https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/administrative-units-statistical-units/nuts">EUROSTAT. Límites administrativos de Europa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="carousel slide" data-interval="3000" id="slider" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
                <li data-target="#slider" data-slide-to="3"></li>
                <li data-target="#slider" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/instrucciones/filtros.JPG">
                </div>

                <div class="carousel-item" id="slide2">
                    <img src="../../../assets/img/instrucciones/denspopcluster.JPG">
                </div>

                <div class="carousel-item" id="slide3">
                    <img src="../../../assets/img/instrucciones/capas.JPG">
                </div>

                <div class="carousel-item" id="slide4">
                    <img src="../../../assets/img/instrucciones/graficos.JPG">
                </div>

                <div class="carousel-item" id="slide5">
                    <img src="../../../assets/img/instrucciones/busqueda.JPG">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12 col-md-6">
        <div class="jumbotron">
            <h1 class="display-4">De datos a información</h1>
            <p class="lead">Economía, población, cultura...</p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="jumbotron">
            <h1 class="display-4">Conoce dónde ocurre</h1>
            <p class="lead">Información distribuida espacialmente.</p>
        </div>
    </div>
</div> -->