<div class="container animated fadeIn slower">
    <div class="row my-2">
        <div class="col-12 h2 text-center mt-3">RETO CAJAMAR CARPOOLING VISUALIZATION</div>
        <div class="col-12 h4 text-center">Equipo Gantal</div>
        <div class="col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">Alejandro Martín Simón Sánchez</div>
                <div class="card-body flex-column">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <img class="profile-photo" width="100px" src="../../../assets/img/profile/alex.jpg">
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="p">
                                Estudiante del MUii en la UCLM
                            </div>
                            <div class="p">
                                <a href="https://www.linkedin.com/in/alejandrosimonsanchez/">LinkedIn <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card flex-fill">
                <div class="card-header">Antonio Morán Muñoz</div>
                <div class="card-body flex-column">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <img class="profile-photo" width="100px" src="../../../assets/img/profile/alex.jpg">
                        </div>
                        <div class="col-12 col-lg-8">
                            Estudiante del MUii en la UCLM
                        </div>
                    </div>
                </div>
            </div>
            <div class="card flex-fill">
                <div class="card-header">Gabriel Gómez López</div>
                <div class="card-body flex-column">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <img class="profile-photo" width="100px" src="../../../assets/img/profile/alex.jpg">
                        </div>
                        <div class="col-12 col-lg-8">
                            Estudiante del MUii en la UCLM
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="carousel slide" data-interval="3000" id="slider" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
                <li data-target="#slider" data-slide-to="3"></li>
                <li data-target="#slider" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/instrucciones/filtros.JPG">
                </div>

                <div class="carousel-item" id="slide2">
                    <img src="../../../assets/img/instrucciones/denspopcluster.JPG">
                </div>

                <div class="carousel-item" id="slide3">
                    <img src="../../../assets/img/instrucciones/capas.JPG">
                </div>

                <div class="carousel-item" id="slide4">
                    <img src="../../../assets/img/instrucciones/graficos.JPG">
                </div>

                <div class="carousel-item" id="slide5">
                    <img src="../../../assets/img/instrucciones/busqueda.JPG">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12 col-md-6">
        <div class="jumbotron">
            <h1 class="display-4">De datos a información</h1>
            <p class="lead">Economía, población, cultura...</p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="jumbotron">
            <h1 class="display-4">Conoce dónde ocurre</h1>
            <p class="lead">Información distribuida espacialmente.</p>
        </div>
    </div>
</div> -->