<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">De datos a información</h1>
                <p class="lead">Economía, población, cultura...</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">Conoce dónde ocurre</h1>
                <p class="lead">Información distribuida espacialmente.</p>
            </div>
        </div>
    </div>
</div>