<div id="viewerSidebar" [ngStyle]="{'bottom': viewerBottom}">
    <app-map-sidebar (filtersUpdated)="reloadMap()"></app-map-sidebar>
</div>
<div id="viewerBottombar">
    <app-map-bottombar></app-map-bottombar>
</div>

<div id="viewerBlablaviewer"></div>
<!-- <img id="legend" [src]="getMapLegend()"> -->

<div *ngIf="graphicsShown()" id="graphicsModal" class="modal fade graphics-modal" tabindex="-1" role="dialog" aria-labelledby="graphics-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <app-graphics-modal></app-graphics-modal>
        </div>
    </div>
</div>